.App-header {
  padding-left: 2vh;
  background-color: black;
  height: 8vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  padding: 30px;
}

.row {
  display: flex;
}

.Column-filters {
  flex: 15%;
}

.Column-table {
  flex: 80%;
}


.App-link {
  color: #09d3ac;
}
